.comp-wrapper {
    box-sizing: border-box;
    border-bottom: 1px solid lightgrey;
}

.search-icon {
    font-size: 23px;
    color: gray;
}

.form-input {
    color: #555;
    background-color: #fff;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #ccc;
}

.form-input:focus {
    outline: 0;
}
