.brief-wrapper {
    border-bottom: 1px solid #eee;
    box-shadow: 0 0 5px #d3d3d3;
}

.btn {
    background-color: #f5f5f5;
    border: 1px solid rgba(0,0,0,0.1)
}

.btn:hover {
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
}
